<nz-row nzAlign="middle" class="mb-24">

  </nz-row>
  <nz-card>
    <p class="title-seaport">
      {{title}}
    </p>
    <nz-row nzGutter="48" nzAlign="top">
      <ng-container *ngFor="let column of columns">
        <nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="12"
          nzXl="12"
          nzXXl="12"
          class="mb-20"
        >
          <p class="m-0 p-label">
            {{ column.title }}
            <span *ngIf="column.isRequired" class="span-error">*</span>
          </p>
          <ng-container
            *ngIf="(column.key === 'productColor' || column.key === 'productSize') ; else textAreaInput"
          > 
          </ng-container>
          <ng-container
            *ngIf="(column.key === 'productColor')"
          > 
          <nz-select
          [nzMaxTagCount]="10"
          
          nzMode="multiple"
          nzPlaceHolder="Chọn màu sắc"
          [(ngModel)]="listOfSelectedValueColor"
        >
            <nz-option *ngFor="let item of listColor" [nzLabel]="item.color" [nzValue]="item.size"></nz-option>
        </nz-select>
          </ng-container>
          <ng-container
            *ngIf="(column.key === 'productSize')"
          > 
          <nz-select
          [nzMaxTagCount]="10"
          
          nzMode="multiple"
          nzPlaceHolder="Chọn size"
          [(ngModel)]="listOfSelectedValueSize"
        >
            <nz-option *ngFor="let item of listSize" [nzLabel]="item.sizeName" [nzValue]="item.sizeName"></nz-option>
        </nz-select>
          </ng-container>
          <ng-template #textAreaInput>
            <nz-input-group
              [nzSuffix]="suffixSeaport"
              class="ant-input-affix-wrapper-textarea-with-clear-btn"
            >
              <textarea
                nz-input
                [(ngModel)]="dataInformation[column.key]"
                rows="1"
              ></textarea>
            </nz-input-group>
            <ng-template #suffixSeaport>
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                *ngIf="dataInformation[column.key]"
                (click)="dataInformation[column.key] = ''"
              ></span>
            </ng-template>
          </ng-template>
          <p
            class="m-0 span-error"
            *ngIf="
              column.isRequired && !dataInformation[column.keyName] ? true : false
            "
          >
            {{ "message.required" | translate }}
          </p>
        </nz-col>
      </ng-container>
    </nz-row>
    <!-- File Upload Section for PAD -->
    <div class="mb-20">
      <p class="m-0 p-label">
        Hình ảnh mô tả
        <!-- <span class="span-error">*</span> -->
      </p>
      <app-upload-file
        
      ></app-upload-file>
      <!-- <p class="m-0 span-error" *ngIf="listFileImage.length == 0 ? true : false">
        {{ "message.required" | translate }}
      </p> -->
    </div>
    <!-- Action Buttons -->
    <nz-row nzAlign="top" nzGutter="24" nzJustify="end">
      <nz-col>
        <app-button
          [btnType]="'primary'"
          [btnClass]="'common-btn-cancel'"
          [btnTitle]="'Quay lại'"
          
        >
        </app-button>
      </nz-col>
      <nz-col>
        <app-button
          
          [btnType]="'primary'"
          [btnTitle]="'Thêm mới'"
          
        >
        </app-button>
      </nz-col>
    </nz-row>
  </nz-card>
  <app-modal-confirm
    [titleBtnPrimary]="'button.confirm'"
    [titleModal]="'Thông báo'"
    [headerContent]="'Bạn có chắc chắn muốn quay lại danh sách cảng'"
    [contentModal]="'Sau khi bạn xác nhận, thông tin cảng chưa được lưu'"
    
  ></app-modal-confirm>
  