<section class="page-category">
  <!-- container -->
  <div class="container">
    <img
      src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
  </div>
  <!-- row -->
  <div class="row">
    <div class="card">
      <img
        src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt=""
      />
      <div class="abc">
        <p style="float: left">Tin tức Atino</p>
        <p style="float: right">Ngày 03/05/2024</p>
      </div>
      <div class="content">
        <h3>
          ARISTINO x THỢ NGHỆ:"Chỉ cần thiết kế 1 cái như thế này rồi copy ra là
          đc"
        </h3>
        <p>
          Bảng đạo hàm của các hàm số sơ cấp cơ bản (thường gặp), công thức tính
          đạo hàm, quy tắc đạo hàm hàm hợp
        </p>
        <a href="">Xem thêm <i class="fas fa-chevron-right fa-xs"></i></a>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt=""
      />
      <div class="abc">
        <p style="float: left">Tin tức Aristino</p>
        <p style="float: right">Ngày 03/05/2024</p>
      </div>
      <div class="content">
        <h3>
          ARISTINO x THỢ NGHỆ:"Chỉ cần thiết kế 1 cái như thế này rồi copy ra là
          đc"
        </h3>
        <p>
          Bảng đạo hàm của các hàm số sơ cấp cơ bản (thường gặp), công thức tính
          đạo hàm, quy tắc đạo hàm hàm hợp
        </p>
        <a href="">Xem thêm <i class="fas fa-chevron-right fa-xs"></i></a>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt=""
      />
      <div class="abc">
        <p style="float: left">Tin tức Atino</p>
        <p style="float: right">Ngày 03/05/2024</p>
      </div>
      <div class="content">
        <h3>
          ARISTINO x THỢ NGHỆ:"Chỉ cần thiết kế 1 cái như thế này rồi copy ra là
          đc"
        </h3>
        <p>
          Bảng đạo hàm của các hàm số sơ cấp cơ bản (thường gặp), công thức tính
          đạo hàm, quy tắc đạo hàm hàm hợp
        </p>
        <a href="">Xem thêm <i class="fas fa-chevron-right fa-xs"></i></a>
      </div>
    </div>
  </div>
</section>
