<section class="container">
  <header>
    <p>Xin chào, <span>Thành Nguyễn</span> | <a href="#">Đăng xuất</a></p>
  </header>
  <nav>
    <ul>
      <li><a href="#">Tổng quan</a></li>
      <li><a href="#">Đơn hàng</a></li>
      <li><a href="#" class="active">Sản phẩm yêu thích</a></li>
      <li><a href="#">Tài khoản</a></li>
      <li><a href="#">Địa chỉ</a></li>
      <li><a href="#">Dịch vụ</a></li>
    </ul>
  </nav>

  <div class="main-container">
    <!-- <div class="collection-product">
      <div
        (mouseenter)="shoppingCartHover($event, i)"
        (mouseleave)="shoppingCartHover($event, -1)"
        class="content-product product"
        *ngFor="let product of listProduct; index as i"
        (click)="handleProductDetail(product)"
      >
        <img
          [src]="urlPreview + '/' + product.avatar"
          alt=""
        />
        <div class="product-infor">
          <p>{{product.productName}}</p>
          <i class="ti-heart"></i>
        </div>
        <p class="price">{{product.price}}</p>
        <div [class]="cartProductClass[i]">
          <i class="ti-bag"></i>
        </div>
        <div class="new">
          <p>NEW</p>
        </div>
      </div>
    </div> -->
  </div>
</section>
